/* html{
    background-color: #D2982D; 
    
   
}
*{
    margin: 0%;
    padding: 0%;
}*/
/* .box1 {
    background-image: url('./Vector2.png');
     background-repeat: no-repeat; 
     height: 100%;
     width: 100%;
    
}   */